[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = {git = "git://github.com/psf/black"}
pylint = "*"
pytest = "*"

[packages]
requests = "*"

[requires]
python_version = "3"
