name: Upload to pypi

on:
  create:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Build
      run: |
        python -m pip install --upgrade pip
        python -m pip install setuptools wheel
        python setup.py sdist bidst_wheel
    - name: Publish
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secret.pypi_password }}